html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
#app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'x-font-youShe';
  src: url('../fonts/优设标题黑.ttf');
}

@font-face {
  font-family: 'douyuFont';
  src: url('../fonts/douyuFont.otf');
}

@font-face {
	font-family: 'siyuan-bold';
	src: url('../fonts/思源黑体Bold.otf');
}

@font-face {
	font-family: 'siyuan-normal';
	src: url('../fonts/SourceHanSansCN-Normal.otf');
}

@font-face {
	font-family: 'siyuan-medium';
	src: url('../fonts/SourceHanSansCN-Medium.otf');
}

@font-face {
	font-family: 'siyuan-light';
	src: url('../fonts/SourceHanSansCN-Light.otf');
}

@font-face {
	font-family: 'siyuan-regular';
	src: url('../fonts/SourceHanSansCN-Regular.otf');
}